/*--------------------------------------------------------------
## Gutenberg Styles
--------------------------------------------------------------*/

.aligncenter img {
	display: block;
	margin: 0 auto;
}

/* Dropcaps */
p.has-drop-cap:first-letter {
	font-family: 'Playfair Display', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
	font-size: 64px;
	font-size: 4rem;
	margin-right: .1em;
}

/* Images */
.wp-block-image {
	margin-bottom: 1.5em;
	text-align: center;
}

.wp-block-image figcaption {
	font-style: italic;
	font-size: 14px;
	font-size: 0.875rem;
	margin: .75em auto;
}

/* Galleries */
.wp-block-gallery {
	padding-left: 0;
}
.columns-1 {}
.columns-2 {}
.columns-3 {}
.columns-4 {}
.columns-5 {}

/* Blockquotes*/
.wp-block-quote {
	margin-bottom: 1.5em;
}

.wp-block-quote p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote cite {
	display: block;
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	margin-bottom: 1.5em;
	width: 100%;
}

.wp-block-quote.is-large {
	border-left: none;
	padding: 0;
}

.wp-block-quote.is-large p {
	font-size: 32px;
	font-size: 2rem;
}

.wp-block-quote.is-large p:last-of-type {
	padding-bottom: 0.25em;
	margin-bottom: 0;
}

.wp-block-quote.is-large cite {
	font-style: normal;
	font-size: 24px;
	font-size: 1.5rem;
	margin-bottom: 2.5em;
	margin-top: 0;
	text-align: right;
}

.blocks-quote-style-1 {}
.blocks-quote-style-2 {}

/* Cover Images */
.wp-block-cover-image {
	margin: 0 0 1.5em;
}

.wp-block-cover-image.alignfull {
	transform: translateX(0);
}

.has-background-dim {}
.has-parallax {}

/* Video */
.wp-block-video {
	margin: 0 0 1.5em;
	text-align: center;
}

.wp-block-video video {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

/* Audio */
.wp-block-audio {}

/* Pullquotes */
.wp-block-pullquote {
	border-bottom: 3px solid #ef5656;
	border-left: none;
	border-top: 3px solid #ef5656;
	color: #555;
	font-family: 'Playfair Display', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
	margin-bottom: 1.5em;
	padding: .75em;
}

.wp-block-pullquote > p {
	font-size: 24px;
	font-size: 1.5rem;
	font-style: normal;
	font-family: 'Playfair Display', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
	margin: 0 0 .75em;
	line-height: 1.1;
}

.wp-block-pullquote > cite {
	color: #777;
	font-family: Arial, Verdana, sans-serif;
	font-style: normal;
	line-height: 1.6;
	font-size: 16px;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

@media screen and (min-width: 37.5em){
	.wp-block-pullquote {
		padding: 1.5em 0.75em;
	}

	.wp-block-pullquote > p {
		font-size: 36px;
		font-size: 2.25rem;
		margin: 0 0 .75em;
	}
}

.wp-block-pullquote.alignleft > p,
.wp-block-pullquote.alignright > p {
	font-size: 24px;
	font-size: 1.5rem;
}

.wp-block-pullquote.alignleft {
	text-align: left;
}

.wp-block-pullquote.alignright {
	text-align: right;
}

@media screen and (min-width: 780px) {
	.wp-block-pullquote.alignleft {
		margin-left: -12.5vw;
		text-align: center;
	}

	.wp-block-pullquote.alignright {
		margin-right: -12.5vw;
		text-align: center;
	}

	.wp-block-pullquote.alignwide {
		padding: 1.5em 2em;
	}

	.wp-block-pullquote.alignfull {
		padding: 2em 3em;
	}

}


/* Categories */
.wp-block-categories-list {}

/* Tables */
.wp-block-table {
	display: table;
}

.wp-block-table.alignleft,
.wp-block-table.alignright {
	max-width: 50%;
}

/* Preformatted */
.wp-block-preformatted {}

/* Code */
.wp-block-code {}

/* Verse */
.wp-block-verse {
	border: 0;
	font-family: inherit;
	padding: 0;
}

.wp-block-verse.aligncenter {
	text-align: center;
}

.wp-block-verse.alignright {
	text-align: right;
}

/* Separator */
.wp-block-separator {
	background-color: transparent;
	border-bottom: 3px solid #ef5656;
	margin-bottom: 1.5em;
	width: 75%;
	max-width: 75%;
}

.wp-block-separator.alignwide {
	width: 75vw;
	max-width: 75vw;
}

.wp-block-separator.alignfull {
	width: 100vw;
	max-width: 100vw;
}

/* Buttons */
.wp-block-button {
	margin-bottom: 1.5em;
	text-align: center;
}
.wp-block-button.aligncenter {}

.wp-block-button .wp-block-button__link {
	background-color: #e06e53;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
}

.wp-block-button a {
	transition: 0.3s background-color;
}

.wp-block-button a:hover,
.wp-block-button a:focus,
.wp-block-button a:active {}

/* Text Columns */
.wp-block-text-columns {}
.wp-block-column {}

/* Latest Posts */
.wp-block-latest-posts {}
.wp-block-latest-posts__post-date {
	color: #888;
}
.is-grid {}

@media (min-width: 768px) {
	.alignfull {
		clear: both;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
		width: 100vw;
		max-width: 100vw;
		overflow-x: hidden;
		margin: 0 0 1.5em;
	}

	.wp-block-cover-image {
		left: 50%;
		margin-left: -50vw;
		width: 100vw;
		position: relative;
		overflow-x: hidden;
		max-width: 100vw;
	}

	.alignfull .jetpack-video-wrapper iframe,
	.alignwide .jetpack-video-wrapper iframe {
		margin-left: auto !important; /* to override inline styles */
		margin-right: auto !important;
	}

	.alignwide {
		left: 50%;
		margin-left: -37.5vw;
		clear: both;
		position: relative;
		width: 75vw;
		max-width: 75vw;
	}

	.alignwide img,
	.alignfull img {
		display: block;
		margin: 0 auto;
	}

	.wp-block-quote {
		font-size: 24px;
	}

	.wp-block-image.alignright {
		margin-right: -12.5vw;
	}

	.wp-block-image.alignleft {
		margin-left: -12.5vw;
	}
}
