.content-area {
	margin: 0;
	width: $size__site-main;
}

.site-main {
	margin: 0;
}

.site-header {
	background: #fff;
	position: relative;
}

.site-branding {
	float: left;
	width: calc( 100% - 2.625rem );
	padding: 0.5em 1em;
}

.site-content .widget-area {
	@include linear-gradient( $gradient__footer-top, $gradient__footer-bottom );
	overflow: hidden;
	padding: 2em 1.5rem 0;
	width: $size__site-sidebar;
}

.site-footer {
	background-color: $gradient__footer-bottom;
	clear: both;
	font-family: $font__headings;
	margin: 0;
	text-align: left;
	width: $size__site-main;

	.site-info {
		border-top: 1px solid #fff;
		padding-top: 1.5em;
		margin: 1.5em 1.5em 3em;

		a:first-child {
			display: block;
		}
	}

	a {
		color: #000;
	}

	.sep {
		display: none;
	}
}
