@media screen and (max-width: 320px) {
	.wp-block-gallery {
		&.columns-2,
		&.columns-3,
		&.columns-4,
		&.columns-5 {
			margin-left: 1.5rem;
			margin-right: 1.5rem;

			figure {
				margin-right: 0;
				width: 100%;
			}
		}
	}
}

/*

@media screen and (min-width: 400px) {
	.wp-block-image {
		max-width: 375px;
		margin-left: auto;
		margin-right: auto;

		&.alignwide,
		&.alignfull {
			max-width: 100%;
		}

		&.alignleft {
			margin-right: 5%;
		}

		&.alignright {
			margin-left: 5%;
		}

	}

	.sep,
	& .site-info a:first-child {
		display: inline;
	}
}


@media screen and (min-width: 480px) {
	.site-description {
		margin-top: 0;
	}

	.nav-previous,
	.nav-next {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.wp-block-image {
		max-width: 480px;
	}

	.alignleft,
	.alignright {
		float: none;
	}
}

@media screern and (min-width: 600px) {
	.widget-grofile {
		.grofile-thumbnail {
			float: left;
			margin-right: 2em;
		}
		& > * {
			margin-left: 200px;
		}
	}
}

@media screen and (min-width: 661px) {
	.page-content,
	.entry-content,
	.entry-summary {
		& > * {
			max-width: 660px;
		}

		.wp-block-image {

			&.alignwide {
				max-width: 80%;
			}

			&.alignfull {
				width: 100%;
			}
		}
	}
}
*/
