.widget {
	border-bottom: 1px solid #fff;
	margin: 0 0 1.5em;

	a {
		color: #000;
		opacity: 1;

		&:hover {
			opacity: 0.75;
		}
	}

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/**
 * Gravatar Profile
 */
.widget-grofile {
	h4 {
		@include font-size(1.25);
		font-weight: 400;
	}

	.grofile-meta {
		a {
			text-decoration: none;
		}

		h4 {
			font-weight: 700;
		}
	}

	.grofile-thumbnail {
		border-radius: 50%;
		max-height: 180px;
		max-width: 180px;
		margin: 0 auto;
	}
}

/**
 * Social Media Icons
 */
.widget_wpcom_social_media_icons_widget {

	ul {
		padding-left: 0;

		li {
			margin-right: 0.75em;
		}
	}

	a {
		@include font-size(2.5);
	}
}