$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;
$color__text-caption: #6c7781;
$color__text-screen: #21759b;
$color__text-alt: #999;

$color__link: #444;
$color__link-visited: #666;
$color__link-hover: #888;

$color__link-nav: #fff;
$color__link-nav-hover: #000;

$color__link-alt: #EF5656;

$color__header: #111;
$color__header-link: #444;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$gradient__featured-top: #FFC8C8;
$gradient__featured-bottom: #2ACEBB;
$gradient__navigation-top: #FF9090;
$gradient__navigation-bottom: #9C98FF;
$gradient__footer-top: rgba(173, 173, 255, 0.5);
$gradient__footer-bottom: rgba(255, 144, 144, 0.5);
