.main-navigation {
	@include linear-gradient( $gradient__navigation-top, $gradient__navigation-bottom );
	clear: both;
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			/* left: auto; */
		}
	}

	li {
		line-height: 3;
		padding-left: 1em;
		position: relative;

		a {
			color: $color__link-nav;
			display: block;
			font-family: $font__headings;
			@include font-size(1.125);
			text-decoration: none;
		}

		&:hover > a,
		&.focus > a,
		a:hover,
		a:active,
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__link-nav-hover;
		}
	}
}

/* Small menu. */
.main-navigation.toggled {
	ul {
		display: block;
		opacity: 1;
	}
}

.menu-toggle {
	background: none;
	border: none;
	border-radius: none;
	color: $color__link-alt;
	display: block;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0.25em;

	&:before {
		content: "\f419";
		display: block;
		@include font-size(1.125);
		margin: 0 0 6px 0;
	}

	.toggled &:before {
		content: "\f406";
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	font-family: $font__headings;
	@include font-size(1.5);
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	a {
		color: $color__text-main;
		text-decoration: none;

		&:hover {
			color: #000;
			text-decoration: underline;
		}
	}

	.nav-previous {
		float: left;

		&:before {
			content:"\00ab";
			padding-right: 0.2em;
		}
	}

	.nav-next {
		float: right;
		text-align: right;

		&:after {
			content:"\00bb";
			padding-left: 0.2em;
		}
	}
}
